<a href="https://colab.research.google.com/github/fjadidi2001/DataScienceJourney/blob/master/illustrate_the_use_of_the_Pandas_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
# This is a Pandas class used to represent two-dimensional, tabular data (like a table or spreadsheet).
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

print('\n\n\n')


# Selecting a column
print(df['Name'])

print('\n\n\n')


# Filtering rows
print(df[df['Age'] > 30])


print('\n\n\n')


# Grouping and aggregating
age_count = df.groupby('Age').count()
print(age_count)

# Saving to a CSV file
df.to_csv('test.csv', index=False)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago




0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object




      Name  Age     City
2  Charlie   35  Chicago




     Name  City
Age
25      1     1
30      1     1
35      1     1