<a href="https://colab.research.google.com/github/fjadidi2001/DataScienceJourney/blob/master/new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

# Step 1: Load the dataset
dataset = pd.read_csv('telematics_syn.csv')

# Display the first few rows of the dataset to understand its structure
print(dataset.head())

# Step 2: Analyze `NB_Claim` and `AMT_Claim`
nb_claim_summary = dataset['NB_Claim'].describe()
amt_claim_summary = dataset['AMT_Claim'].describe()

print("NB_Claim Summary:")
print(nb_claim_summary)

print("\nAMT_Claim Summary:")
print(amt_claim_summary)

   Duration  Insured.age Insured.sex  Car.age  Marital  Car.use  Credit.score  \
0       366           45        Male       -1  Married  Commute         609.0
1       182           44      Female        3  Married  Commute         575.0
2       184           48      Female        6  Married  Commute         847.0
3       183           71        Male        6  Married  Private         842.0
4       183           84        Male       10  Married  Private         856.0

  Region  Annual.miles.drive  Years.noclaims  ...  Left.turn.intensity10  \
0  Urban             6213.71              25  ...                    1.0
1  Urban            12427.42              20  ...                   58.0
2  Urban            12427.42              14  ...                    0.0
3  Urban             6213.71              43  ...                    0.0
4  Urban             6213.71              65  ...                    2.0

   Left.turn.intensity11  Left.turn.intensity12  Right.turn.intensity08  \
0                    0.0                    0.0                     3.0
1                   24.0                   11.0                  1099.0
2                    0.0                    0.0                     0.0
3                    0.0                    0.0                     0.0
4                    0.0                    0.0                   325.0

   Right.turn.intensity09  Right.turn.intensity10  Right.turn.intensity11  \
0                     1.0                     0.0                     0.0
1                   615.0                   219.0                   101.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     0.0
4                   111.0                    18.0                     4.0

   Right.turn.intensity12  NB_Claim    AMT_Claim
0                     0.0         1  5100.171753
1                    40.0         1   883.554840
2                     0.0         0     0.000000
3                     0.0         0     0.000000
4                     2.0         0     0.000000

[5 rows x 52 columns]
NB_Claim Summary:
count    100000.00000
mean          0.04494
std           0.21813
min           0.00000
25%           0.00000
50%           0.00000
75%           0.00000
max           3.00000
Name: NB_Claim, dtype: float64

AMT_Claim Summary:
count    100000.000000
mean        137.602253
std        1264.320056
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      104074.886700
Name: AMT_Claim, dtype: float64